* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index-body {
  background-color: #00b4d8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.greetingmsg {
  color: aliceblue;
  text-align: center;
}

.greetingmsg h1 {
  margin-bottom: 80px;
}

/* digital clock page css */

.digital-body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.digital-clock {
  height: 40%;
  width: 80%;
  border: 1px solid rgb(255, 255, 255, 0.6);
  border-radius: 8px;
  color: rgb(36, 255, 36);
  position: relative;
  font-family: "Orbitron", sans-serif;
}

.date {
  border-bottom: 1px solid rgb(255, 255, 255, 0.6);
  display: flex;
  width: 100%;
  padding-left: 3vw;
  font-size: 3vw;
  color: #38b000;
  justify-content: flex start;
}

.digits {
  border-bottom: 1px solid rgb(255, 255, 255, 0.6);
  display: flex;
  width: 100%;
  height: 50%;
  font-size: 7vw;
  justify-content: space-around;
  align-items: center;
}

.digital-day {
  /* border: 1px solid white; */
  display: flex;
  width: 100%;
  font-size: 3vw;
  justify-content: space-evenly;
  align-items: center;
}

.day {
  color: rgb(14, 44, 10);
}

.active {
  color: rgb(36, 255, 36);
}

.futuristic-body {
  background-color: #00b4d8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
